<div class="highlights">
  <h1>{{ site.index_highlights_title[page.lang] }}</h1>
  <div class="row">
    <div class="item col s12 m4">
      <i class="item fa fa-handshake-o" aria-hidden="true"></i>
      <h1>{{ site.index_highlights_feature1_title[page.lang] }}</h1>
      <span>{{ site.index_highlights_feature1_content[page.lang] }}</span>
    </div>

    <div class="item col s12 m4">
        <i class="item fa fa-smile-o" aria-hidden="true"></i>
        <h1>{{ site.index_highlights_feature2_title[page.lang] }}</h1>
        <span>{{ site.index_highlights_feature2_content[page.lang] }}</span>
    </div>

    <div class="item col s12 m4">
        <i class="item fa fa-trophy" aria-hidden="true"></i>
        <h1>{{ site.index_highlights_feature3_title[page.lang] }}</h1>
        <span>{{ site.index_highlights_feature3_content[page.lang] }}</span>
    </div>

  </div>

</div>
