<div class="highlights">
  <h1>Trabajar así es la BOMBAA</h1>
  <div class="row">
    <div class="col s12 m4">
      <i class="fa fa-usd" aria-hidden="true"></i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>

    <div class="col s12 m4">
        <i class="fa fa-usd" aria-hidden="true"></i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>

    <div class="col s12 m4">
        <i class="fa fa-usd" aria-hidden="true"></i><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>

  </div>

</div>
