<div class="navbar">

  <div class="bar">


    <div id="nav-icon4"><span></span><span></span><span></span></div>

    <span class="text">PMBOX</span>

  </div>

  <div class="dropdown">
    <ul>
      <li><a href="/"><div class="button-hv">Home</div></a></li>
      <li><a href="/games.html"><div class="button-hv">All Games</div></a></li>
      <hr>
      <li>
        <div class="button">
          <p>JUGAR</p>
        </div>
      </li>
      <hr>
      <li><a href="/inici.html"><div class="button-hv">Catalan</div></a></li>
      <li><a href="/inicio.html"><div class="button-hv">Castellano</div></a></li>
      <li><a href="/index.html"><div class="button-hv">English</div></a></li>
    </ul>

  </div>

</div>

<script type="text/javascript">
var scrollBreakpoint = 20;

$(document).ready(function() {
  $('#nav-icon4').click(function() {
    $(this).toggleClass('open');
    $('.dropdown').toggleClass('visible');
    if ($(window).scrollTop()<=scrollBreakpoint) {
      $('.navbar').toggleClass('dark');
    }
  });
});
$(window).scroll(function() {
  if($(window).scrollTop()>=scrollBreakpoint){
    $('.navbar').addClass('dark');
  }else {
    if(!$('.dropdown').hasClass('visible')){
    $('.navbar').removeClass('dark');
    }
  }
});
</script>
