<div class="navbar">

  <div class="bar">


    <div id="nav-icon4"><span></span><span></span><span></span></div>

    <span class="text">PMBOX</span>

  </div>

  <div class="dropdown">
    <ul>
      <!--<li><a href="/"><div class="button-hv">Home</div></a></li>
      <li><a href="/games.html"><div class="button-hv">All Games</div></a></li>-->
      <li><a href="{{ site.navbar_home_link[page.lang] }}"><div class="button-hv">{{ site.navbar_home_string[page.lang] }}</div></a></li>
      <li><a href="{{ site.navbar_games_link[page.lang] }}"><div class="button-hv">{{ site.navbar_games_string[page.lang] }}</div></a></li>
      <hr><hr>
      <li>
        <div class="button">
          <p>COMPRAR JUEGO</p>
        </div>
      </li>

      </ul>
  </div>

</div>

<script type="text/javascript">
var scrollBreakpoint = 20;

$(document).ready(function() {
  $('#nav-icon4').click(function() {
    $(this).toggleClass('open');
    $('.dropdown').toggleClass('visible');
    if ($(window).scrollTop()<=scrollBreakpoint) {
      $('.navbar').toggleClass('dark');
    }
  });
});
$(window).scroll(function() {
  if($(window).scrollTop()>=scrollBreakpoint){
    $('.navbar').addClass('dark');
  }else {
    if(!$('.dropdown').hasClass('visible')){
    $('.navbar').removeClass('dark');
    }
  }
});
</script>
