/******************
* COLOR DEFINE
******************/
$black: #444444;
$gray: #9C9C9C;
$blue: #0078D7;
$dark-white:#F4F6F5;
$white: #FFFFFF;

/******************
* COLOR ASSIGNMENT
******************/
$body: $white;
$transparent-navbar: rgba(0, 0, 0, 0.2);
$navbar: #95a5a6;
$dropdown: darken($black,10);
$footer: $black;
$card: darken(#9b59b6,5);
$card-border: #9b59b6;
$button: white;
$button-hover: $blue;
$highlights: white;
$boxcontent: green;
$boxonline: orange;
$buybox: yellow;


$textbox: white; 
