@import "colors";
@import "reset";
@import "syntax";
@import "grid";


@import "_components/_textbox";
@import "_components/_navbar";
@import "_components/highlights";
@import "_components/footer";
@import "_components/hero";
@import "_components/smartphone";
@import "_components/card";
@import "_components/button";
@import "_components/buymebox";
@import "_components/contact";


body {
  background: $body;
  font-family: 'Roboto', sans-serif;
}


.fadein {
  animation: fadein 2s;
}



@keyframes leftpop {
  from {
    transform: translateX(-10vw);
  }

  to {
    transform: translateX(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.parallax {
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post {
  padding: 50px;
  margin-bottom: 30px;
  font-size: 17px;
  text-align: left;

  h1 {
    margin-top: 10px;
    font-size: 30px;
  }
}

.postheader {
  position: relative;
  height: 500px;
  color: $white;

  img {
    max-height: 50vh;
    filter: blur(3px);
  }

  h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: 6vh;
    animation: fadein 0.8s;
    z-index: 2;
  }

  .stats {
  position: relative;
  top:415px;
  height: 80px;
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 5px;

  .fa {
    //color: $black;
    font-size: 45px;
    margin-bottom: 5px;
  }

  .stat {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;

    span {
      font-size: 15px;
      //color: $black;
      display: block;
    }
  }
}
}

#games {
  padding-top: 50px;

  h2 {
    margin: 10px 30px 30px 0;
    font-size: 30px;
    text-align: left;
  }
  padding-bottom: 50px;
}

.wrapper {
  background-color: $dark-white;
}

//Center text on mobile
@media (max-width: 600px) {
  .textbox .text {
    text-align: center;
  }

}

//fix disquss n footer
#disqus_thread{
  padding-bottom: 50px;
} 