
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}
    <div class="wrapper">

      <div class="postheader parallax" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url({{page.imageurl}})">
        <h2>{{ page.title }} </h2>
        <div class="stats sol s12">

          <div class="row">
            <div class="stat col s4"><i class="fa fa-clock-o"></i><span>{{page.playtime}} ''</span></div>
            <div class="stat col s4"><i class="fa fa-users"></i><span>{{page.players}}</span></div>
            <div class="stat col s4"><i class="fa fa-area-chart"></i><span>{{page.phase}}</span></div>
          </div>


        </div>
      </div>

      <div class="container">

        <div class="post">
          <h1><i class="fa fa-bullseye"></i>  {{ site.post_goal_string[page.lang] }}</h1>
          {{page.goal}}
          <h1><i class="fa fa-book"></i>  {{ site.post_how_string[page.lang] }}</h1>
          {{content}}
        </div>



      </div>

      <div class="textbox blue col s12 clearfix">
        <div class="row">

  <div class="image img-wrapper col s12 m4" >        <!-- Trigger the Modal -->
  <img id="myImg" src="{{page.imageurl}}">
</div>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>

          <div class="text col s12 m8">
            <h1><i class="fa  fa-cogs"></i>  {{ site.post_material_string[page.lang] }}</h1>
            <p>{{page.material}}</p>
            </div>

        </div>

      </div>

      <div class="container">

        <div id="disqus_thread"></div>
        {% include disqus.html %}

      </div>

    </div>

    {% include footer.html %}

  </body>
  <script>
  // Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
  </script>

</html>
