
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}
    <div class="wrapper">

      <div class="postheader parallax" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url({{page.imageurl}})">
        <h2>{{ page.title }} </h2>
        <div class="stats sol s12">

          <div class="row">
            <div class="stat col s3"><i class="fa fa-clock-o"></i><span>{{page.playtime}} ''</span></div>
            <div class="stat col s3"><i class="fa fa-users"></i><span>{{page.players}}</span></div>
            <div class="stat col s3"><i class="fa fa-area-chart"></i><span>{{page.meetingphase}}</span></div>
            <div class="stat col s3"><i class="fa fa-area-chart"></i><span>{{page.groupphase}}</span></div>
          </div>


        </div>
      </div>

      <div class="container">
        
        <div class="post">
          <h1><i class="fa fa-bullseye"></i> Objetivo:</h1>
          {{page.goal}}
          <h1><i class="fa fa-book"></i> Cómo jugar :</h1>
          {{content}}
        </div>



      </div>

      <div class="textbox blue col s12 clearfix">
        <div class="row">
          <div class="image col s12 m4" style="background-image:url('https://static.pexels.com/photos/53874/pexels-photo-53874.jpeg')">

          </div>

          <div class="text col s12 m8">
            <h1><i class="fa  fa-cogs"></i> Activos:</h1>
            <p>{{page.material}}</p>
            </div>

        </div>

      </div>

      <div class="container">

        <div id="disqus_thread"></div>
        {% include disqus.html %}

      </div>

    </div>

    {% include footer.html %}

  </body>
</html>
