
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}
    <div class="postheader parallax" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
  url({{page.imageurl}})">
      <h2>{{ page.title }} </h2>
      <!--<img src="{{page.imageurl}}" alt="{{page.imageurl}}">-->

    </div>

    <div class="container">
      <div class="post">
      {{ content }}
      </div>

      <div id="disqus_thread"></div>
      {% include disqus.html %}

    </div>

  </body>
</html>
