.card {
    box-shadow: 0px 0px 50px 0px $gray;
    &:hover {
        box-shadow: 0px 0px 100px 0px $gray;
    }
    min-height: 350px;
    h1 {
        font-size: 30px;
        color: $black;
    }
    p {
        font-size: 15px;
        color: $gray;
    }
    background-color: $white;
    margin-bottom: 50px;
    .thumbnail {
        overflow: hidden;
        padding: 0px; //reset of grid padding
        .image {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("people.gif");
            height: 350px;
            overflow: hidden;
        }
        .stats {
            //background-color: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7)); This is cool
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 0;
            color: $white;
            position: relative;
            margin-top: -85px;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 5px;
            .fa {
                font-size: 45px;
                margin-bottom: 5px;
            }
            .stat {
                display: table-cell;
                vertical-align: middle;
                padding-top: 10px;
                span {
                    font-size: 15px;
                    display: block;
                }
            }
        }
    }
    .description {
        text-align: left;
        padding: 25px;
    }
}