.highlights {
  color: $white;
  min-height: 300px;
  background-color: $blue;
  vertical-align: middle;
  padding-top: 10px;
  margin-bottom: -20px;
  padding-bottom: 30px;

  h1 {
    font-size: 25px;
    margin: 30px 30px 10px;
  }

  .fa {
    font-size: 80px;
    margin-bottom: 10px;
  }

  span {
    font-size: 17px;
    display: block;
    text-align: justify;
    margin: 30px 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
